body{
    margin: 0px;
  }
  .userlogin{
      background-color: white;
      /* height: 100vh; */
      text-align: center;
      
  }
  .form_container_card{
    text-align: center;
    margin-left: 480px;
    padding-top: 70px;
    height:490px;
    width: 28%;
    background-color: rgba(236, 236, 236, 0.903);
    border-radius: 6px;
    box-shadow: 4px 4px 4px black;
    margin-top: 70px;
  }
  
  
  .form_input input{
     height: 30px;
     width: 300px;
     border: none;
     box-shadow: 0px 3px 2px black;
     outline: none;
  }
  #lab1{
   margin-right:268px ;
   color: rgb(194, 193, 193);
  }
  #lab2{
    margin-right: 240px;
    color: rgb(194, 193, 193);
  }
  .email{
    margin-top: 50px;
  }
  .password{
    margin-top: 30px;
  }
  #btn1{
    margin-top: 30px;
    padding: 6px 22px;
    font-weight: bold;
    font-size:14px ;
    background-color: rgb(48, 175, 48);
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
  }
  #btn1:hover{
    background-color: rgb(15, 135, 15);
  }
  